<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.ics.mapper.IcsQuestionSulotionMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hzl.hadoop.ics.entity.IcsQuestionSulotionEntity" id="icsQuestionSulotionMap">
        <result property="id" column="id"/>
        <result property="searchLogId" column="search_log_id"/>
        <result property="icsQuestionId" column="ics_question_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionNum" column="version_num"/>
    </resultMap>

    <select id="listPage" resultType="com.hzl.hadoop.ics.dto.IcsQuestionSulotionDTO">
     select
            id,
            search_log_id,
            is_hit,
            tenant_id,
            create_by,
            create_time,
            update_by,
            update_time,
            version_num,
      from  ics_question_sulotion
      <where>
          1=1
      <if test="id!=null" >
        and id=#{id}
      </if>
      <if test="searchLogId!=null" >
        and search_log_id=#{searchLogId}
      </if>
      <if test="isHit!=null" >
        and is_hit=#{isHit}
      </if>
      <if test="tenantId!=null" >
        and tenant_id=#{tenantId}
      </if>
      <if test="createBy!=null" >
        and create_by=#{createBy}
      </if>
      <if test="createTime!=null" >
        and create_time=#{createTime}
      </if>
      <if test="updateBy!=null" >
        and update_by=#{updateBy}
      </if>
      <if test="updateTime!=null" >
        and update_time=#{updateTime}
      </if>
      <if test="versionNum!=null" >
        and version_num=#{versionNum}
      </if>
      </where>
    </select>

</mapper>