<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzl.hadoop.gp.mapper.GpYlMapper">

    <select id="selectMaxPriceVolatility" resultType="com.hzl.hadoop.gp.entity.YlVO">
        SELECT DISTINCT
            ( gz.max_price ) AS max_price,
            gz.current_price,
            gz.init_price,
            gz.yesterday_end_price,
            gz.created_date
        FROM
            gp_yl gz
        <where>
            <if test="date==null">
                and gz.created_date > CURRENT_DATE
            </if>
            <if test="date!=null">
                and gz.created_date BETWEEN #{date} and date_add(#{date},interval 16 HOUR)
            </if>
        </where>
        GROUP BY
            gz.max_price
    </select>
    <select id="selectMinPriceVolatility" resultType="com.hzl.hadoop.gp.entity.YlVO">
        SELECT DISTINCT
            ( gz.min_pirce ),
            gz.current_price,
            gz.init_price,
            gz.yesterday_end_price,
            gz.created_date
        FROM
            gp_yl gz
        <where>
            <if test="date==null">
                and gz.created_date > CURRENT_DATE
            </if>
            <if test="date!=null">
                and gz.created_date BETWEEN #{date} and date_add(#{date},interval 16 HOUR)
            </if>
      </where>
        GROUP BY
            gz.min_pirce
    </select>
    <select id="selectEndPriceByDate" resultType="com.hzl.hadoop.gp.vo.GpVO">
         SELECT
            id,
            gp_name,
            gp_code,
            init_price,
            yesterday_end_price,
            current_price,
            max_price,
            min_pirce,
            turnover,
            number,
            bidding_price,
            auction,
            created_date
        FROM
            gp_yl gz
        WHERE
            gz.gp_code=#{gpCode}
            and gz.created_date BETWEEN #{date} and date_add(#{date},interval 16 HOUR)

        ORDER BY
            gz.created_date DESC
            LIMIT 1
    </select>
</mapper>