<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.interfacemanager.mapper.InterfaceManageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hzl.hadoop.interfacemanager.entity.InterfaceManageEntity" id="interfaceManageMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="url" column="url"/>
        <result property="method" column="method"/>
        <result property="isLogin" column="is_login"/>
    </resultMap>
    <select id="selectUrls" resultMap="interfaceManageMap">
        select url,is_login,method from interface_manage
        <where>
            <if test="method!=null and method!=''">
                and method=#{method}
            </if>
            <if test="isLogin!=null">
                and is_login=#{isLogin}
            </if>
        </where>
    </select>
    <select id="listPage" resultType="com.hzl.hadoop.interfacemanager.dto.InterfaceManageDTO">
        select
        id,
        service_name,
        code,
        url,
        method,
        is_login,
        description,
        tenant_id,
        create_by,
        create_time,
        update_by,
        update_time,
        version_num
        from  interface_manage
        <where>
            1=1
            <if test="id!=null" >
                and id=#{id}
            </if>
            <if test="serviceName!=null and serviceName!=''" >
                and service_name=#{serviceName}
            </if>
            <if test="code!=null and code!=''" >
                and code=#{code}
            </if>
            <if test="url!=null and url!=''" >
                and url=#{url}
            </if>
            <if test="method!=null and method!=''" >
                and method=#{method}
            </if>
            <if test="isLogin!=null" >
                and is_login=#{isLogin}
            </if>
            <if test="description!=null and description!=''" >
                and description=#{description}
            </if>
            <if test="tenantId!=null" >
                and tenant_id=#{tenantId}
            </if>
            <if test="createBy!=null" >
                and create_by=#{createBy}
            </if>
            <if test="createTime!=null" >
                and create_time=#{createTime}
            </if>
            <if test="updateBy!=null" >
                and update_by=#{updateBy}
            </if>
            <if test="updateTime!=null" >
                and update_time=#{updateTime}
            </if>
            <if test="versionNum!=null" >
                and version_num=#{versionNum}
            </if>
        </where>
    </select>


</mapper>