<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.workflow.mapper.ApproveNodeEndMapper">

    <select id="queryNodeById" resultType="com.hzl.hadoop.workflow.dto.NodeDTO">
        SELECT
        id,
        approver_id,
        approver_group_id,
        position_id,
        be_listener_id,
        af_listener_id,
        1 AS node_type
        FROM
        approve_node_start
        WHERE
        id = #{nodeId}
        limit 1
    </select>
</mapper>